##eclipse
.classpath
.project
.settings
eclipsebin

##intellij
.idea
*.iml
classes

##maven, ant, build dirs
bin
gen
build
out
lib
target

##release plugin
pom.xml.*
release.properties

##mac
.DS_Store
